# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.whl

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
*.env
venv/
.venv/

# Logs
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Data files
data/
*.csv
*.json

# Temporary files
*.tmp
*.temp

# Other
.DS_Store
Thumbs.db
